<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= blog.title %> - Blogify</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <header>
    <h1><%= blog.title %></h1>
    <p>Category: <%= blog.category.name %></p>
    <p>Published on: <%= blog.publishDate.toDateString() %></p>
  </header>
  <main>
    <p><%= blog.description %></p>
    
    <!-- Check if there's a featured image -->
    <% if (blog.featuredImage) { %>
      <img src="<%= blog.featuredImage %>" alt="Featured Image" />
    <% } else { %>
      <p>No featured image available.</p>
    <% } %>
  </main>
</body>
</html>
